<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{{ page.title }} | {{ site.title }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/jpprojects/assets/style.css">
</head>
<body>
  <div class="Default_Header">
    <h1 class="title">jpprojects</h1>
    <nav>
      <a href="{{ site.baseurl }}/">Home</a>
      <a href="/insertsite">Personal Site</a>
    </nav>
  </div>

  <main>
    {{ content }}
  </main>

<footer class="site-footer">
  <div class="footer-content">
    <hr>
    <p>
      © <span id="year"></span> Jacob Parra ·
      jpprojects ·
      <a href="https://github.com/jacob-parra" target="_blank" rel="noopener">GitHub</a>
    </p>
    <p class="footer-subtext">
    Project documentation, walkthroughs and notes | Built with Markdown · Hosted on GitHub Pages

  </div>
</footer>

<script>
  document.getElementById("year").textContent = new Date().getFullYear();
</script>

</body>
</html>